.btn-base {
    color: white;
    &:hover {
        color: white;
        opacity: 0.8;
    }
    &:active {
        box-shadow: none;
        position: relative;
        top: 4px;
    }
}

.btn-size-big {
    height: 50px;
    width: 100%;
}

.btn-size-mini {
    height: 40px;
    min-width: 70px;
}

.btn-color-main {
    background-color: $main;
    box-shadow: 0 4px #218a77;
}

.btn-color-facebook {
    background-color: $facebook;
    box-shadow: 0 4px #284074;
}

.btn-color-spot {
    background-color: $spot;
    box-shadow: 0 4px #b57d92;
}

.text-main {
    color: $main;
}

.text-menu {
    color: $menu;
}

.text-delete {
    text-decoration: line-through;
    color: $delete;
}

.bg-main {
    color: white;
    background-color: $main;
}

.bg-facebook {
    color: white;
    background-color: $facebook;
}

.bg-menu {
    color: white;
    background-color: $menu;
}

.box-head {
    color: white;
    background-color: $menu;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.box-body {
    background-color: $input;
    border: 1px solid $border;
    padding-left: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    min-height: 200px;
    padding-top: 30px;
}

.list {
    list-style: none;
}
  
.link-custom {
    color: $text;
    &:hover {
        text-decoration: none;
        color: $menu;
        cursor: pointer;
    }
}

.border {
    border: 1px solid $border;
}

.hide {
    display: none;
}