.btn-normal {
    height: 50px;
    width: 100%;
}

.text-main {
    color: $main;
}

.bg-main {
    color: white;
    background-color: $main;
}

.bg-facebook {
    color: white;
    background-color: $facebook;
}